{% extends 'ai/layout.html' %}
{% load static %}

{% block body %}
<div class="mb-3">
    <form action="{% url 'start' %}" method="post">
        {% csrf_token %}
        <label for="Prompt" class="form-label">Prompt</label>
        <input class="form-control" type="text" placeholder="Prompt" name="prompt" aria-label="GPT Prompt">
        <input type="hidden" name="thread_id" value="{{ thread_id }}">
        <button class="btn btn-primary" style="margin: 5px;">Fill me in</button>
    </form>   
</div>
<div id="answer">{{ answer }}</div>
{% endblock %}