{% extends 'ai/layout.html' %}

{% block body %}
<div class="landing_page">
    {% for article in articles %}
    <a href="{% url 'article_detail' link=article.link %}">
        <div class="article">
            <div class="image-container">
                <img src="{{ article.image_url }}" alt="Article Image" style="width: 200px; height: 150px; margin: 5px; ">
            </div> 
            <div class="snapshot">
                <div class="title">{{ article.title }}</div>
                <div class="article_body">{{ article.body }}</div>
            </div> 
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}